<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.overstar.product_service.mapper.ProductBaseMapper">
  <resultMap id="BaseResultMap" type="com.overstar.product_export.model.ProductBase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name_zh" jdbcType="VARCHAR" property="productNameZh" />
    <result column="product_name_en" jdbcType="VARCHAR" property="productNameEn" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="product_status" jdbcType="INTEGER" property="productStatus" />
    <result column="country_ids" jdbcType="VARCHAR" property="countryIds" />
    <result column="currency_id" jdbcType="INTEGER" property="currencyId" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="play_days" jdbcType="INTEGER" property="playDays" />
    <result column="hotel_nights" jdbcType="INTEGER" property="hotelNights" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="purchase_num" jdbcType="INTEGER" property="purchaseNum" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="confirmation_flag" jdbcType="INTEGER" property="confirmationFlag" />
    <result column="recommend_flag" jdbcType="BIT" property="recommendFlag" />
    <result column="source_channel" jdbcType="INTEGER" property="sourceChannel" />
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="en_show_name" jdbcType="VARCHAR" property="enShowName" />
    <result column="city_ids" jdbcType="LONGVARCHAR" property="cityIds" />
  </resultMap>


    <select id="productIds" resultType="java.lang.Integer">
        select product_id from product_base;
    </select>
</mapper>