<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.overstar.product_service.mapper.ProductBaseMapper" >
  <resultMap id="BaseResultMap" type="com.overstar.product_export.model.ProductBase" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name_zh" property="productNameZh" jdbcType="VARCHAR" />
    <result column="product_name_en" property="productNameEn" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="product_status" property="productStatus" jdbcType="INTEGER" />
    <result column="country_ids" property="countryIds" jdbcType="VARCHAR" />
    <result column="currency_id" property="currencyId" jdbcType="INTEGER" />
    <result column="comment_num" property="commentNum" jdbcType="INTEGER" />
    <result column="play_days" property="playDays" jdbcType="INTEGER" />
    <result column="hotel_nights" property="hotelNights" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="purchase_num" property="purchaseNum" jdbcType="INTEGER" />
    <result column="discount" property="discount" jdbcType="DOUBLE" />
    <result column="confirmation_flag" property="confirmationFlag" jdbcType="INTEGER" />
    <result column="recommend_flag" property="recommendFlag" jdbcType="BIT" />
    <result column="source_channel" property="sourceChannel" jdbcType="INTEGER" />
    <result column="source_id" property="sourceId" jdbcType="VARCHAR" />
    <result column="city_ids" property="cityIds" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>