<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.overstar.product_service.mapper.ProductSpecTravellertypeMapper">
  <resultMap id="BaseResultMap" type="com.overstar.product_export.model.ProductSpecTravellertype">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="spec_id" jdbcType="VARCHAR" property="specId" />
    <id column="traveller_type_id" jdbcType="INTEGER" property="travellerTypeId" />
    <result column="spec_name_en" jdbcType="VARCHAR" property="specNameEn" />
    <result column="remark" jdbcType="CHAR" property="remark" />
  </resultMap>
</mapper>